body {
    font-family: 'Roboto', sans-serif;
}

#navbar {
    background-color: #101a34;
    color: #fff;
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px;
}

#navbar a:hover {
    background-color: #0a1021;
}

#navbar-title {
    font-size: 2em;
    text-align: center;
    padding-bottom: 20px;
}

i.fa {
    margin-right: 10px;
}

.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

.button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
} 
  .form-input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .form-submit {
    width: 15%;
    padding: 10px;
    background-color: #3f51b5;
    color: #fff;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
  }