body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="number"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #333;
  }
  
  input[type="submit"] {
    width: 20%;
    padding: 10px;
    background-color: #3f51b5;
    color: #fff;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
  }
  .form-submit {
    min-width: 170px; /* ajuster la taille en fonction de vos besoins */
    padding: 10px;
    background-color: #3f51b5;
    color: #fff;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
  }
  
  
  .form-submit:hover {
    background-color: #2e3d92;
  }
  
  