body {
    font-family: 'Roboto', sans-serif;
}

#navbar {
    background-color: #101a34;
    color: #fff;
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px;
}

#navbar a:hover {
    background-color: #0a1021;
}

#navbar-title {
    font-size: 2em;
    text-align: center;
    padding-bottom: 20px;
}

i.fa {
    margin-right: 10px;
}

.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #dddddd;
}

.card {
    width: 200px;
    height: 300px;
    display: inline-block;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 10px;
    text-align: center;
}

.card-content h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.price {
    color: gray;
    font-size: smaller;
}

.button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}