body {
    font-family: 'Roboto', sans-serif;
}


#login {
    width: 400px;
    margin: 50px auto;
    text-align: center;
}

#login h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

#login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login label {
    font-size: 18px;
    margin-bottom: 10px;
}

#login input[type="email"],
#login input[type="url"],
#login input[type="text"],
#login input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

#login input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #3b5998;
    color: #fff;
    border: none;
    cursor: pointer;
}

#login p {
    font-size: 18px;
    margin-top: 30px;
}

#login a {
    color: #3b5998;
}

#error-message {
    color: red;
}