body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-container {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .form-submit {
    width: 20%;
    padding: 10px;
    background-color: #3f51b5;
    color: #fff;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
  }
  